
body {
	background: #f0f0f0;
	height: 100%;
	margin: 0;
	width: 100%;
}

.debug {
	background: rgba(255, 255, 255, 0.25);
	display: none;
	height: 50%;
	left: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 50%;
	z-index: 1000;
}

.dg {
	display: none;
}

@media only screen and (min-width: 1200px) {
	.dg {
		display: block;
	}
}