
body {
	background: #f0f0f0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	height: 100%;
	margin: 0;
	width: 100%;
}

.debug {
	background: rgba(255, 255, 255, 0.25);
	box-sizing: border-box;
	left: 0;
	list-style: none;
	margin: 0;
	padding: 1em;
	position: absolute;
	top: 0;
	z-index: 1000;
}

.dg {
	display: none;
}

@media only screen and (min-width: 1200px) {
	.dg {
		display: block;
	}
}